body{
  margin:0;
  font-family:sans-serif;
}

.nav{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#3b2f2f;
  color:white;
}

.nav ul{
  display:flex;
  gap:20px;
  list-style:none;
}
.hero{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:100vh;
}
.hero img{
  width:350px;
}
button{
  padding:10px 20px;
  background:#6f4e37;
  color:white;
  border:none;
}